.footerWrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
.footerLink {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #945DAE;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}
